.card-container{
    position: relative;
    height: 193px;
    /* width : 18rem; */
    perspective: 200rem;
}
.card-container:hover .card-front{
    transform: rotateY(180deg);
}
.card-container:hover .card-back{
    transform: rotateY(0deg);
}
.card-back{
    transform: rotateY(180deg);
}
.corn{
    position: absolute;
    transition: all 0.9s;
    height: 193px;
    width: 100%;
    backface-visibility: hidden;
}
.ourexpert{
    display: flex;
    align-items: center;
}
.ourexpert img{
    max-width: 120px;
    height: 120px;
    border-radius: 50%;
    float: right;
    margin: 5px;
}
.offer h4{
    margin: 30px;
    padding: 30px;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    color:black;
}
 .card-front1{
    background-color: cyan;
}
 .card-front2{
    background-color: burlywood;
}
.card-front3{
    background-color: goldenrod;
}
.card-front4{
    background-color: pink;
}